/*Goofle Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*General Styles*/
body {
    display: flex;
    flex-direction: column;
     /*Generic project styles */
    font-family: 'Open Sans', sans-serif;
    background: #D2D5D6;
    color: #333333;
       
}

/*Header*/
header {
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #3C546C;
    padding: 0;
}

/*Main Content*/
main {
    /* To push footer down*/
    flex: 1 0 auto;
    margin-top: 250px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    
   
}

form {
    text-align: center;
}

button {
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    background-color: #F39C12;
    padding: 6px 12px;
    border-radius: 8px;
}


/*Footer*/
footer {
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3C546C;
    color: #ffffff;
}