/*Goofle Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*General Styles*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #D2D5D6;
    color: #333333;
    
}

/*Header*/
header {
    text-align: center;
}

form {
    text-align: center;
}

button {
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    background-color: #F39C12;
    padding: 6px 12px;
    border-radius: 8px;
}

